# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:

1. python
2. R programming
3. Julia
4. Sql
5. Sala

#### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. matplotlib
3. Seaborn
4. Pandas
5. Scikit Learn
6. PyTorch
7. Tensor flow

#### Data Science Tools

| Data Science Tools |
|--------------------|
|Jupyter|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
multiply = (3*4)+5
multiply

17

In [2]:
#his will convert 200 minutes to hours by diving by 60.
hours = 200/60
hours

3.3333333333333335

### **Objectives:**  

In this notebook, we covered the following key topics:  

- ðŸ“Œ List popular languages for Data Science  
- ðŸ“Œ Identify commonly used Data Science libraries  
- ðŸ“Œ Explore Data Science tools and development environments  
- ðŸ“Œ Convert time units using Python expressions  
- ðŸ“Œ Create tables and lists using Markdown in Jupyter Notebook

## Author

Fanny Namondo Ngomba